* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

#main-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
        "name name picture"
        "quote quote picture"
        "profile profile contact";
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-column-start: span 4;
    grid-template-areas: 
        "code code"
        "data data"
        "web design";
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img {
    border-radius: 50%;
}

#headline {
    grid-area: name;
}

#student-picture {
    text-align: center;
    grid-area: picture;
}

#student-quote {
    grid-area: quote;
}

#student-profile {
    grid-area: profile;
}

#student-contact {
    grid-area: contact;
    text-align: center;
}

#experience-code {
    grid-area: code;
}

#experience-database {
    grid-area: data;
}

#experience-web {
    grid-area: web;
}

#experience-design {
    grid-area: design;
}

.header {
    grid-area: head;
}



@media screen and (max-width: 1024px) {
    #main-grid {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        grid-template-areas: 
            "name name"
            "quote picture"
            "quote contact"
            "profile profile";
    }
    
    #experience-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        grid-column-start: span 3;
        grid-template-areas: 
            "code web"
            "data design";
    }
}

@media screen and (max-width: 450px) {
    #main-grid {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "name"
            "picture"
            "contact"
            "quote" 
            "profile";
    }
    
    #experience-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "code" 
            "web"
            "data" 
            "design";
    }
}


